    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ pendientes }}</strong> Pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li *ngFor="let filtro of filtros"
        (click)="cambiarFiltro( filtro )">
        <a [class.selected]="filtro === filtroActual"
           style="cursor: pointer;"
        >{{ filtro | titlecase }}</a>
        </li>
        
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed"
            (click)="limpiarComp()"        
    >Limpiar hechos</button>
    </footer>