
<li [class.completed]="todo.completado"
    [class.editing]="editando">
    <div class="view">
    
      <input class="toggle" type="checkbox" [formControl]='chkCompletado'>

      <label (dblclick)="editar()">{{ todo.texto }}</label>
      
      <button (click)="borrar()" class="destroy"></button>
    
    </div>
    
    <input
      #inputFisico
      class="edit"  
      value="Create a TodoMVC template"
      type="text"
      (blur)="terminarEdicion()"
      [formControl]='txtInput'
    >

</li>